/* .sidebar {
    padding: 1rem;
    background-color: #f8f9fa;
    min-height: 100vh;
    margin-top: 80px; 
    background-color: #011638;
}

.sidebar h5 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
} */